<!doctype html>
<html lang="uk" ng-app="timetableApp">
<head>
  <meta charset="utf-8">
  <title>Розклад</title>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">  
  <link rel="stylesheet" href="styles.css">
  <script src="js/Config.js"></script>
  <script src="js/jquery-latest.js"></script>
  <script src="js/jquery-ui-latest.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/knockout-3.1.0.js"></script> 
  <script src="js/RoomBusiness.js"></script>
  <script src="js/teacherAutocomplete.js"></script>
  <script src="js/TeacherLessonsViewModel.js"></script>
</head>
<body>
<div id="tabs">
  <ul>
    <li><a href="#tabs-timetable">Розклад</a></li>
    <li><a href="#tabs-rooms">Аудиторний фонд</a></li>    
  </ul>
  <div id="tabs-timetable">
	<div id="teachers">
		<p>
		<label for="autocomplete1">Викладач: </label>
		<input id="autocomplete1" />
		</p>
	</div>
	<button data-bind="click: addTeacher">Добавити викладача</button>
	<p><button data-bind="click: readLessons">Пошук</button></p>

	<table id="timetable" border="1">        
	</table>
  </div>
  <div id="tabs-rooms">
	<div ng-controller="RoomBusiness">	
			
			<div class="room-style" ng-repeat="(room, dayTimeWeeks) in data">	
				{{room}}<br/>
				<div class="day-style" ng-repeat="(day, timeWeeks) in dayTimeWeeks">
					<p class="p-day">{{Config.DAYS[day]}}</p>				
					<div class="time-style" ng-repeat="(time, weeks) in timeWeeks">
						{{time}}
						<div class="week-style" ng-repeat="(week, v) in weeks">
							<a ng-click="showLesson(room,day,time,week)">{{Config.ODD_EVEN[week-1]}}</a>
						</div>						
					</div>
					<br/>
				</div>
			</div>	
			<div id="lessonInfo"></div>
		  <form ng-submit="loadRoomBusiness()">        
			<input class="btn-primary" type="submit" value="Показати">
		  </form>
	</div>
  </div>  
</div>
</body>
</html>